#signup_form, #login_form, #budget_list, #update_form{
    border: 2px solid lightgray;
    border-radius: 7px;
    width: 50%;
    background-color: #BDE0FF;
    margin: 0% auto;
    padding: 25px 0px;
    padding-bottom: 17px;
}

#login_checkbox input {
    width: 10px !important;
}

#login_checkbox label {
    padding: 0 5px !important;
}

#signup_form input, #login_form input, #budget_list input {
    padding: 10px 2px;
    margin: 10px;
    width: 50%;
}

#signup_form button, #login_form button, #budget_list button, #add_form button {
    padding: 10px 2px;
    margin: 10px;
    width: 75px;
    border-radius: 4px;
    background-color: lightgray;
}

#budget_list, #update_form {
    width: 75%;
}

#table_headers {
    align-items: center;
    width: 75%;
}

#budget_list table td{
    width: 30%;
}

#budget_list input, #update_form input {
    width: 25%;
}

#budget_list button {
    border-radius: 80%;
    background-position: top;
    width: 40px;
    height: 40px;
    background-color: white;
}

#budget_content {
    width: 100%;
    text-align: center;
    margin-left: 2%;
}

#budget_content tr td {
    width: 15%;
}

#budget_content td:nth-child(1){
    width: 5%;
}

#update_form input{
    margin: 2%;
}

#update_form table{
    table-layout: fixed;
}

#back {
    float: left;
}

#form_main {
    height: 100%;
    text-align: center;
}

#add_form{
    border: 2px solid lightgray;
    border-radius: 7px;
    width: 50%;
    background-color: #BDE0FF;
    margin: 0% auto;
    padding: 25px 0px;
}

#addform_main{
    height: 100%;
    text-align: center;
}

#add_form input {
    padding: 10px 2px;
    margin: 10px;
    width: 50%;
}

#add_form button {
    width: 150px;
}

table{
    width: 90%;
    margin: auto;
}

.table_text{
    padding: 0% 10%;
    text-align: center;
}
#dashboard{
    text-align: center;
}

#dashboard_content {
    text-align: center;
}

.dashboard_container{
    width: 50%;
    float: left;
}

#logout{
    text-align: center;
}

#logout button{
    margin: 10px;
}

nav {
    width: 100%;
    background-color: #4d5791;
    height: 44px;
    padding: 0px 40px;
}

nav ul, nav ul li {
    margin: 0;
    padding: 0 ;
    list-style: none;
}

nav ul li a {
    padding: 0px 20px;
    line-height: 44px;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    margin: 0;
    float: left;
}

nav ul li a:hover  {
    background-color: white;
    color: #4d5791;
}

div.hero {
    height: 350px;
    background-color: #b4c6f0;
    background-image: url('./bg.png');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 40px;
}

div.hero h1, div.hero h2 {
    text-align: center;
    margin: 0;
}

div.hero h1 {
    color: #fff;
    font-size: 4.2em;
    margin-bottom: 20px;
}

div.hero h2 {
    color: #4d5791;
}

.right-aligned {
    float: right;
}

h1{
    text-align: center;
}

#button_container{
    text-align: center;
}

.page-area {
    max-width: 90%;
    display: inline-block;
}

.skip {
    display: block;
    line-height: 44px;
    padding: 0 20px;
    margin-top: -44px;
}

.skip:focus {
    margin-top: 0;
}

.center {
    text-align: center;
}

main {
    padding: 40px;
    width: 100%;
}

main article {
    display: inline-block;
    width: 47%; 
    text-align: left;
    margin: 10px;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Tahoma, Arial;
    height: 100%;
    min-height: 100%;
}

footer {
    position:fixed;
    padding-top: 35px;
    bottom:0;
    left:0;
    right:0;
    height:80px;
    background-color: #b4c6f0;
}